 body{
    background-color: pink;;
    font-family: "Balsamiq Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
 }
 .container{
    flex:1;
 }
 .navbar{
  height:5rem;  
  background-color: azure ;
 }
 .fa-compass{
    color: red;
    font-size: 2rem;
 }
 .nav-link{
    color:black;
 }

 .f-info-links a{
text-decoration: none;
color: #222222;
 }

 .f-info-links a:hover{
    text-decoration: underline;
 }
 .f-info-links{
    width:100%;
    vertical-align: middle;
   display: flex;
align-items: center;
justify-content: center;
 }
    
 .f-info-socials{
    width:100%;
    vertical-align: middle;
       display: flex;
align-items: center;

   justify-content: center;
   
 }
   
  .f-info-socials i{
    font-size: 1.5rem;
    margin-right:1rem ;
  }
 .f-info{
    text-align: center;
    height:8rem;
    background-color: aliceblue;
    display:flex;
flex-wrap: wrap;
justify-content: center;
align-items:space-evenly ;
 }

/*cards */

.card{
    border:none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
     width:100% !important;
     object-fit: cover;


}
.card-body{
    padding:0px !important;

}
.card-text p{
    font-weight: 400b  !important;
}

.listing-link{
    text-decoration: none;
}
/* card effrct */
.card-img-overlay{
opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: #222222;
}
/* edit */
.edit-btn{
    background-color: rgb(179, 45, 45) !important;
    border:none;
}
/* show */

.show-img{
height:30vh;
}

